/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}


/* Global.Site.Base */

/* Home Page */
.home {
  background: teal;
}
/* Bio */
.bio {
  background: turquoise;
}
/* Contact */
.contact{
  background: thistle;
}